{% extends 'plantillaBASE.html'%}

{% load static %}

{% block title %} JUEGO {% endblock %} 

{% block content %}



<!-- condicional si no hay pregunta -->
    {% if pregunta is None %}



    <div class="container">
        <div class="jumbotron my-4">
            {% if pregunta_totales < 1 %}
            <h1> Contactar con el administrador para agregar preguntas al cuestionario <a href="{% url 'contacto' %}"  class="btn btn-outline-danger btn-sm btn-block" target="_blank" >CONTACTO</a> </p></h1>
            {% else %}
            <h1> Hiciste todas las preguntas!! Ve tu resultado</h1>
            {% endif %}
             <p><strong>!!ADVERTENCIA¡¡</strong> En el caso de que haya menos preguntas que las indicadas (10) por favor contactar con el administrador, el programa seguira funcionando pero el puntaje máximo obtenido no podrá llegar a los 10 puntos <a href="{% url 'contacto' %}"  class="btn btn-outline-danger btn-sm btn-block" target="_blank" >CONTACTO</a> </p>
            <a class="btn btn-md btn-outline-secondary" href="{% url 'resultados_multiplechoice' %}">Ver resultado cuestionario</a>
        </div>

    </div>

    {% else %}

<div class="container">
    <div class="counter">
    <div class="jumbotron my-4">
        <p>{{contador}}° PREGUNTA</p>
        <h3> {{ pregunta.texto }}</h3>
    </div>

    <form action="" method="POST" class="form">
        {% csrf_token %}
        <input type="hidden" name="pregunta_pk" value="{{ pregunta.pk }}">

        
        {% for opciones in pregunta.opciones.all %}
            <!-- la clase pregunta tiene relacion con elegir respuesta y accedemos related_name="opciones" para pasar todas las opcines de la pregunta -->
        <p> 
            <input class="form-check-input" type= "radio" name="respuesta_pk" value="{{ opciones.pk }}" id="choice-{{forloop.counter}}">

            <label class="form-check-label" for= "choice-{{forloop.counter}}">
                {{ opciones.texto }}
            </label>
        </p>
        {% endfor %}
        
        <button type="submit" class="btn btn-md btn-outline-secondary">
            Enviar
        </button>
        
    </form>

</div>
</div>
{% endif %}



{% endblock %} 




<!-- 
{% for preg in pregunta %}
<p>

    {{ preg }}
    
</p>

    {% for respuestas in preg.preguntas.all %}
    <p>{{ respuestas }}</p>
    
    {% endfor %}

{% endfor %}
 -->