{% extends "plantillaBASE.html" %}
<!-- ahora hay que colocar que herede de plantilla base -->
<!-- que cargue todo lo que hay en carpeta static -->
{% load static %}
{% block title %}RESULTADOS{% endblock %}

{% block content %}


<div class="container">
	
	{% for users in usuario %}
	{% if users.usuario.username == user.username %}
	<h1 class="text-center my-4"> 
		<span class="">
			
				<!-- <p>Los {{contar_user}} mejores jugadores</p> -->
			<p>Nombre de usuario: {{ users.usuario.username }} </p>
			
		</span>
	</h1>
	

	<!-- <table class="table">
		<thead>
			<tr>
				<th>Posicion</th>
				<th>Usuario</th>
				<th>Puntaje</th>
			</tr>
		</thead>
		<tbody>
				<tr>
					<th>{{forloop.counter}}</th>
					<th>{{users.usuario.username}}</th>
					<th>{{users.puntajeTotal}}</th>
				</tr>
			</tbody>
		</table> -->
		
		
		{% endif %}
	{% endfor %}
</div>
  
  {% endblock %}


