{% extends "plantillaBASE.html" %}
<!-- ahora hay que colocar que herede de plantilla base -->
<!-- que cargue todo lo que hay en carpeta static -->
{% load static %}
{% block title %}RESULTADOS{% endblock %}
{% block content %}
	


{% comment %} {{ CANT_PREG_POR_JUEGO}}
{{ contador_preg }} {% endcomment %}

{% if pregunta_totales < 1 %}

<div class="container">
	<div class="jumbotron my-4">
		<h1> Contactar con el administrador para agregar preguntas al cuestionario <a href="{% url 'contacto' %}"  class="btn btn-outline-danger btn-sm btn-block" target="_blank" >CONTACTO</a> </p></h1>
	</div>
</div>	
{% elif contador_preg == CANT_PREG_POR_JUEGO or pregunta is None%}
	{% for users in usuario %}
		{% if users.usuario.username == user.username %}
	<div class="container py-2">
		<div class="row">
			<div class="text-center my-5">
				<div class="card">
		<h1 class="text-center my-4"> 
			<span class="">
					<!-- <p>Los {{contar_user}} mejores jugadores</p> -->
					<strong> BIEN HECHO!!! <br><br> TERMINASTE EL CUESTIONARIO {{users.usuario.username}} !!!!<br><br></strong>
					Estas en el puesto N° {{forloop.counter}}<br>
					Tu puntaje {% if users.puntajeTotal is None %}0{%else%} {{users.puntajeTotal}}{% endif %}<br><br>
					{% if forloop.counter < 4 %}FELICITACIONES <br><br>{% endif %}
					
			</span>

		</h1>
		
		
		<div class="col text-center my-3">
			<form action="" method="POST" class="form">
				{% csrf_token %}
				
				<div class="container">
				<div class="row">
					<a class="btn btn-lg btn-outline-success" href="/Usuario/Juego">Reiniciar Intento</a>
						<a class="btn btn-lg btn-outline-success" href="/Usuario/tabla_posiciones">Ver tabla de posiciones</a>
					</div>
					<div>
						
					</div>
				</div>
			</div>
		</form>
	</div>
	</div>
</div>
	
{% endif %}
{% endfor %}
	
	
{% else %}
<div class="container py-5">
	<h1 class="text-center my-4"> 
		<span class="">
				<!-- <p>Los {{contar_user}} mejores jugadores</p> -->
				Para compartir tu Resultado <br> y ver el resultado definitivo en la Tabla de posiciones <br> tienes que iniciar una partida y terminarla!!!!

				<h4>Sigue tu partida presionado el boton <a class="btn btn-outline-success btn-md btn-block" href="/Usuario/Jugar">jugar</a></h4>
		</span>
	</h1>
	
<div class="col text-center my-2 py-2">
	<form action="" method="POST" class="form">
			{% csrf_token %}
			
		<div class="container">
				<div class="row">
					<div class="col text-center">
						
						<a class="btn btn-lg btn-success p-3" href="/Usuario/Jugar">Jugar</a>
						{% comment %} <a class="btn btn-lg btn-success" href="/Usuario/tabla_posiciones">Ver tabla de posiciones</a> {% endcomment %}
					</div>
				<div>
			
		</div>
	</form>
</div>

{% endif %}

		




{% endblock %}

 