{% extends "plantillaBASE.html" %}
<!-- ahora hay que colocar que herede de plantilla base -->
<!-- que cargue todo lo que hay en carpeta static -->
{% load static %}
{% block title %}RESULTADOS{% endblock %}

{% block content %}


{% for users in usuario %}
{% if users.usuario.username == user.username %}
	
<div class="container py-5">
	<h1 class="text-center my-4"> 
		<span class="">
				<!-- <p>Los {{contar_user}} mejores jugadores</p> -->
				BIEN HECHO!!! <br><br> TERMINASTE EL CUESTIONARIO {{users.usuario.username}} !!!!<br><br>
				TU PUNTAJE {{users.puntajeTotal}} <br><br>
				{% if forloop.counter < 4 %}FELICITACIONES <br><br>{% endif %}
				Estas en el puesto N° 	{{forloop.counter}}

		</span>
	</h1>
	
	{% endif %}
	{% endfor %}
	

	<form action="" method="POST" class="form">
        {% csrf_token %}
		
		<div class="container">
			<div class="row">
				<div class="col text-center">
				<input type="hidden" name="reinicar_intento" value="reinicar_intento">
				<button class="btn btn-lg btn-success">Reiniciar Intento</button>
			  </div>
			</div>
		  </div>
		
            
        
    </form>


  {% endblock %}


 