{% extends "plantillaBASE.html" %}
<!-- ahora hay que colocar que herede de plantilla base -->
<!-- que cargue todo lo que hay en carpeta static -->
{% load static %}
{% block title %}RESULTADOS{% endblock %}

{% block content %}


<div class="container">
	
	<p>
		<strong>La pregunta:</strong>
	
{{respondida.pregunta.texto|safe}}
	</div>
	<div class="container">
		<h3 class="text-info"></h3>
		<p>
			<strong>Tu respuesta:</strong>
			{{respondida.respuesta.texto|safe}}
		</p>

		
	{% if respondida.respuesta.correcta %}
		<h4 class="text-success">Bien hecho!!!! Tu respuesta es correcta</h4>
	{% else %}
		<h4 class="text-danger">Tu respuesta es incorrecta!!!</h4>

		{% for respuesta in respondida.pregunta.opciones.all %}

			{% if respuesta.correcta %}

				<h4>La respuesta correcta es: <span class="text-success">{{respuesta}}</span></h4>
				
			{% endif %}

		{% endfor %}

	{% endif %}

	<a href="{% url 'Juego' %}">
		<button class="btn-success">
			Continuar con la siguiente pregunta
		</button>
	</a>

	</div>


</div>


  {% endblock %}


