{% extends "registration/login_base.html" %}
{% load static %}
{% block title %}Inicio de Sesión {% endblock %}
{% block content %}
<form class="login100-form validate-form" method="POST">
    <span class="login100-form-title p-b-34">
        Ingreso de Usuario
    </span>
    
	
	 {% if form.errors %}

        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>Hubo un Error!</strong> <p>Tu nombre de usuario y/o contraseña es incorrecto. Por favor intenta de nuevo o Registrate.</p>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
        </div>
	
	{% endif %}
    

    {% if messages %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            {% for message in messages %}
                <li  {% if message.tags %} class=" {{ message.tags }} " {% endif %}> {{ message }} </li>
            {% endfor %}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        
	
    {% endif %}     
    {% csrf_token %}



	{% for formulario in form %}
	 {{ empty }}
	
    <div class="wrap-input100 rs1-wrap-input100 validate-input m-b-20" {{ formulario.label_tag }} 
		
        <input id="first-name" class="input100" {{ formulario }}
        <span class="focus-input100"></span>
    </div>
    
    {% endfor %}
	
	
             

                 
         

    <div class="container-login100-form-btn">
        <input class="login100-form-btn" type="submit" value="ingresar" />
        <input type="hidden" name="next" value="{{ next }}" />
        <!-- <button class="login100-form-btn">
            Ingresar
        </button> -->
    </div>

    <div class="w-full text-center p-t-27 p-b-239">
        <span class="txt1">
            <!-- Olvidaste -->
        </span>

        <!-- <a href="#" class="txt2">
            Nombre de usario / contraseña?
        </a> -->
    </div>

    <div class="w-full text-center">
        <a href="{% url 'registro' %}" class="txt3">
            REGISTRATE
        </a>
    </div>
</form>

{% endblock %}


