{% extends "registration/login_base.html" %}
{% load static %}
{% block title %}Registro de Usuario{% endblock %}
{% block content %}
<form class="login100-form validate-form" method="POST">
    <span class="login100-form-title p-b-34">
        Ingrese sus datos para registrarse
    </span>

    {% if formulario.errors %}
     
        <li>Su contraseña no puede asemejarse tanto a su otra información personal.</li>
        <li>Su contraseña debe contener al menos 8 caracteres.</li>
        <li>Su contraseña no puede ser completamente numérica.</li>
    
     {% endif %}
    

    {% csrf_token %}
	 
	{% for formulario in formulario %}
	<td>
    <div class="wrap-input100 rs1-wrap-input100 validate-input m-b-20" data-validate={{ formulario.label_tag }}
		
        <input id="first-name" class="input100" {{ formulario }}
        <span class="focus-input100"></span>
    </div>
    </td>
    {% endfor %}
    
    <div class="container-login100-form-btn">
        <button class="login100-form-btn">
            Registrarse
        </button>
    </div>

    <div class="w-full text-center p-t-27 p-b-239">
        
    </div>

    <div class="w-full text-center">
        <a href="{% url 'login' %}" class="txt3">
            INICIAR SESION
        </a>
    </div>
</form>

{% endblock %}
{% block footer %} <div style="background-color: chartreuse; text-align: center; color: black;">{{ mensaje }}</div>{% endblock %}
