{% extends "plantillaBASE.html" %}
<!-- ahora hay que colocar que herede de plantilla base -->
<!-- que cargue todo lo que hay en carpeta static -->
{% load static %}
{% block title %}CARGAR PREGUNTAS{% endblock %}

{% block content %}

<div class="container-fluid py-5 " style="background-color:#00ad5f">

    <div class="container text-dark">
        <p class="display-4"><b>Cargar preguntas</b> </p>
     
        

    </div>
</div>

<div class="container py-4">
 
    
     
    <div class="row">
     
      <div class="col-sm-4">

		<form action="#" method="POST" class="py-4">
			{% for f in form %}
			
			{% csrf_token %}
			<p><strong>{{ f.label }}</strong>:</p>
				<p>{{ f }}</p>
			{% endfor %}
				

			<button type="submit">Crear Pregunta</button>
		</form>
		</div>
	</div>
</div>




{% endblock %}


