{% extends "plantillaBASE.html" %}
<!-- ahora hay que colocar que herede de plantilla base -->
<!-- que cargue todo lo que hay en carpeta static -->
{% load static %}
{% block title %}CARGAR PREGUNTAS{% endblock %}

{% block content %}

<div class="container-fluid py-3" style="background-color:#00ad5f">

    <div class="container text-dark">
        <p class="display-4"><strong><b>Cargar preguntas</b></strong> </p>
     
        

    </div>
</div>

  {% if messages %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
    {% csrf_token %}
            {% for message in messages %}
                 {{ message }}
            {% endfor %}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

      
	
    {% endif %}     

<div class="container py-4">
 
 <div class="row">
     
      <div class="col-sm-4">

		<form action="#" method="POST" class="py-4">
			{% for f in form %}
			
			{% csrf_token %}
			
				{{ f }}
				<p><strong>{{ f.label }}</strong>:</p>
			{% endfor %}
			
			<button type="submit" class="btn btn-md btn-outline-secondary my-2">Crear Pregunta</button>
			

			<a class="btn btn-md btn-outline-secondary my-2" href="{% url 'listaPreg' %}">Ir a Editar Respuestas</a>
		</form>
	</div>
</div>




{% endblock %}


