{% extends "plantillaBASE.html" %}
<!-- ahora hay que colocar que herede de plantilla base -->
<!-- que cargue todo lo que hay en carpeta static -->
{% load static %}
{% block title %}LISTA PREGUNTAS{% endblock %}

{% block content %}

<div class="container-fluid py-3 " style="background-color:#00ad5f">

    <div class="container text-dark">
        <p class="display-4"><strong><b>Cargar y modificar respuestas:</b></strong> </p>
     
        

    </div>
</div>

    {% if messages %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
    {% csrf_token %}
            {% for message in messages %}
                 {{ message }}
            {% endfor %}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
	
    {% endif %}     
     

<div class="container py-4">

    <div class="row">
     
      <div class="col-sm-8">

        {% if object_list %}
		<form action="#" method="POST" class="py-4">
			{% for f in object_list %}
			
			<ul class="list-group my-2">

                
                {% csrf_token %}
                
                <li class="list-group-item">

                    <h4> {{ f }} </h4><br>
                    <form class="form-inline my-2 my-lg-0">
                        
                        <a class="btn btn-md btn-outline-secondary my-2" href="{% url 'modificar' f.id %}" >Cargar o modificar respuestas</a>
                        <a class="btn btn-md btn-outline-secondary" href="{% url 'detalle_pregunta' f.id %}">ver detalle respuestas </a>
                        <a class="btn btn-md btn-outline-danger" href="{% url 'eliminar' f.id %}">Eliminar </a>
                        <!-- también se puede colocar pk=f.pk -->
                    </form>
                
                </li>
            </ul>
			
            {% endfor %}
            
        {% else %}

            <p>No hay Preguntas para Mostrar </p>

        {% endif %}
		</form>

        <div class="nav-item dropdown active py-4">
            
          
            
        </div>
		</div>
	</div>
</div>

{% endblock %}


