{% extends "plantillaBASE.html" %}
<!-- ahora hay que colocar que herede de plantilla base -->
<!-- que cargue todo lo que hay en carpeta static -->
{% load static %}
{% block title %}CARGAR PREGUNTAS{% endblock %}

{% block content %}

<div class="container-fluid py-5 " style="background-color:#00ad5f">

    <div class="container text-dark">
        <p class="display-4"><b>Modificar la Pregunta: </b> {{ pregunta.instance.texto }} </p>
     
		

    </div>
</div>

<div class="container py-4">
 
    
     
    <div class="row">
     
      <div class="col-sm-4">

		  {% if pregunta|length < 1%}
		  <p>Agrega preguntas no hay ninguna</p>
		  {% else %}
		  
		  <p>Agregar o modificar las respuestas a continuación: </p>
		  
		  <div class="container py-2">
		  <form action="#" method="POST" class="py-4">
			
			<!-- {% for p in pregunta %}

				{% csrf_token %}
				
				<div class="container my-2 py-2">

					<input class="form-control form-control-lg" type="text" placeholder="Escribir Respuesta" {{ p.texto }}
					
					<p> Señalar si es correcta la respuesta es correcta  {{ p.correcta }}</p>
				</div>
				
				
				{% endfor %}
				   -->
				

				{% csrf_token %}
					{{ pregunta.as_p }}
					
				
				
				<button class="btn btn-md btn-outline-secondary" type="submit" value="submit">Modificar Pregunta</button>
				{% endif %}
				<a class="btn btn-md btn-outline-secondary" href="{% url 'listaPreg' %}">Volver</a>
				
			</form>
		</div>
		</div>
	</div>
</div>

{% endblock %}


