{% extends "plantillaBASE.html" %}
<!-- ahora hay que colocar que herede de plantilla base -->
<!-- que cargue todo lo que hay en carpeta static -->
{% load static %}
{% block title %}CARGAR PREGUNTAS{% endblock %}

{% block content %}

<div class="container-fluid py-3 " style="background-color:#00ad5f">

    <div class="container text-dark">
        <p class="display-4"><strong><b>Modificar la Pregunta: </b></strong> {{ pregunta.instance }} </p>
     
		

    </div>
</div>

<div class="container py-4">
 
    
     
<div class="row">

     
      <div class="col-sm-5">

	
		  {% if pregunta|length < 1%}
		  <p>Agrega preguntas no hay ninguna</p>
		  {% else %}
		  
		  <strong><p>Agregar o modificar las respuestas a continuación: </p></strong>
		  
		  
		  <form method="POST" class="py-4">		


			<table>
				{% csrf_token %}
				{{ pregunta }}
			</table>

 		
			{% comment %}
			{% for p in pregunta %}
				<div class="form-group">
					<label {{ p.texto.label_tag }} {% csrf_token %}
					<textarea class="form-control" rows="3" {{ p.texto }} {% csrf_token %}										
				</div>
				<div class="form-group">
					<input class="form-check-input" type="radio" name="exampleRadios" {{ p.correcta }}{% csrf_token %}
					<label class="form-check-label" {{ p.correcta.label_tag }}{% csrf_token %}
						
					</label>
				</div>
				<br><br>
					
			{% endfor %} 
			 {% endcomment %}

				
				<button class="btn btn-md btn-outline-secondary" type="submit">Modificar Pregunta</button>
						

			
				{% endif %}
				<a class="btn btn-md btn-outline-secondary" href="{% url 'listaPreg' %}">Volver</a>
				
			</form>
		</div>
		</div>
	</div>
</div>

{% endblock %}


