{% extends "plantillaBASE.html" %}
<!-- ahora hay que colocar que herede de plantilla base -->
<!-- que cargue todo lo que hay en carpeta static -->
{% load static %}
{% block title %}RESULTADOS{% endblock %}

{% block content %}

<div class="container-fluid py-5 " style="background-color:#00ad5f">

    <div class="container text-dark">
        <p class="display-4"><b>Cargar respuesta a la Preguntas creadas</b> </p>
     
        

    </div>
</div>


<div class="container py-4">
 
    
     
    <div class="row">
     
      <div class="col-sm-4">
        <form action="#" method="POST" class="py-5">
            
            
            {% csrf_token %}
            <p>{{ form.pregunta.label }}</p>
            <p>{{ form.pregunta }}</p>
            <div>
                <p>{{ form.correcta.label }} {{ form.correcta }}</p>
                <p>{{ form.texto }}</p>
            </div>
            <div>
                <p>{{ form.correcta.label }} {{ form.correcta }}</p>
                <p>{{ form.texto }}</p>
            </div>
            <div>
                <p>{{ form.correcta.label }} {{ form.correcta }}</p>
                <p>{{ form.texto }}</p>
            </div>
            <div>
                <p>{{ form.correcta.label }} {{ form.correcta }}</p>
                <p>{{ form.texto }}</p>
            </div>
                

            <button type="submit" class="">Crear Respuesta</button>
        </form>
    </div>
    </div>
</div>


{% endblock %}


