{% extends "plantillaBASE.html" %}
<!-- ahora hay que colocar que herede de plantilla base -->
<!-- que cargue todo lo que hay en carpeta static -->
{% load static %}
{% block title %}RESULTADOS{% endblock %}

{% block content %}



<form action="#" method="POST" class="py-5">
	
	
	{% csrf_token %}
	<p>{{ form.pregunta }}</p>
    <p>{{ form.correcta }}</p>
    <p>{{ form.texto }}</p>
    <p>{{ form.correcta }}</p>
    <p>{{ form.texto }}</p>
    <p>{{ form.correcta }}</p>
    <p>{{ form.texto }}</p>
    <p>{{ form.correcta }}</p>
    <p>{{ form.texto }}</p>
		
		

	 <button type="submit" class="">Crear Respuesta</button>
</form>



{% endblock %}


