{% extends "plantillaBASE.html" %}
<!-- ahora hay que colocar que herede de plantilla base -->
<!-- que cargue todo lo que hay en carpeta static -->
{% load static %}
{% block title %}LISTA PREGUNTAS{% endblock %}

{% block content %}

<div class="container-fluid py-3 " style="background-color:#00ad5f">

    <div class="container text-dark">
        <p class="display-5"><b>Lista Respuestas</b> </p>
     
        

    </div>
</div>

<div class="container py-4">
 
    
     
    <div class="row">
     
      <div class="col-sm-5">
        <h5>{{ pregunta }}</h5>
        
        {% for opciones in pregunta.opciones.all %}
            
        
        <ul class='py-2'>
            <li> {{ opciones.texto }}
                {% if opciones.correcta %}  (Esta es la respuesta correcta) {% endif %}
            </li>
            
        </ul>
        {% endfor %}
		</form>

        <div class="nav-item dropdown active py-4">
            
            <a class="btn btn-md btn-outline-secondary" href="{% url 'listaPreg' %}">Volver</a>
        
            
        </div>
		</div>
	</div>
</div>




{% endblock %}
