{% extends "plantillaBASE.html" %}
<!-- ahora hay que colocar que herede de plantilla base -->
<!-- que cargue todo lo que hay en carpeta static -->
{% load static %}
{% block title %}RESULTADOS{% endblock %}

{% block content %}


<div class="container">
	
	<h1 class="text-center my-4"> 
		<span class="">
			
			<p>Los {{contar_user}} mejores jugadores</p>
			
		</span>
	</h1>
	

	<table class="table table-striped table-bodered">
		<thead>
			<tr>
				<th>Posicion</th>
				<th>Usuario</th>
				<th>Puntaje</th>
			</tr>
		</thead>
		<tbody>
			{% for user_quiz in Usuario %}
				<tr>
					<th>{{forloop.counter}}</th>
					<th>{{user_quiz.usuario.username}}</th>
					<th>{{user_quiz.puntajeTotal}}</th>
				</tr>
			{% endfor %}
		</tbody>
	</table>

</div>
  
  {% endblock %}


