{% extends "plantillaBASE.html" %}
<!-- ahora hay que colocar que herede de plantilla base -->
<!-- que cargue todo lo que hay en carpeta static -->
{% load static %}
{% block title %}RESULTADOS{% endblock %}

{% block content %}

{% if user.is_staff %}
<div class="container">
		<h1 class="text-center my-4"> 
			<span class="">
					<p>Los {{contar_user}} mejores jugadores</p>
			</span>
		</h1>
		
		<table class="table">
			<thead>
				<tr>
					<th>Posicion</th>
					<th>Usuario</th>
					<th>Nombre y Apellido</th>
					<th>Correo</th>
					<th>Admin</th>
					<th>Puntaje</th>
				</tr>
			</thead>
			<tbody>
				{% for user in usuario %}
					<tr>
						<th>{{forloop.counter}}</th>
						<th>{{user.usuario.username}}</th>
						<th>{{user.usuario.first_name}} {{user.usuario.last_name}}</th>
						<th>{{user.usuario.email}}</th>
						<th>{% if user.usuario.is_staff %}SI {% else %} NO {% endif %}</th>

						<th>{{user.puntajeTotal}}</th>
					</tr>
					{% endfor %}
				</tbody>
			</table>
			
	
</div>

{% endif %}
  {% endblock %}

