{% extends "plantillaBASE.html" %}
<!-- ahora hay que colocar que herede de plantilla base -->
<!-- que cargue todo lo que hay en carpeta static -->
{% load static %}
{% block title %}RESULTADOS{% endblock %}

{% block content %}

{% if contador_preguntas == CANT_PREG_POR_JUEGO or pregunta is None%}
<div class="container">
		<h1 class="text-center my-4"> 
			<span class="">
					{% if contar_user < 1 %} Ningún Jugador hizo el cuestionario {% else %}<p>Los {{contar_user}} mejores jugadores</p>{% endif %}
			</span>
		</h1>
		
		<table class="table">
			<thead>
				<tr>
					<th>Posicion</th>
					<th>Usuario</th>
					<th>Nombre y Apellido</th>
					<th>Correo</th>
					<th>Creación Usuario</th>
					<th>Ultima Partida</th>	
					<th>Admin</th>
					<th>Historial Juegos</th>
					{% comment %} <th>Historial Resp. correctas</th> {% endcomment %}
					<th>Ultimo Puntaje</th>
				</tr>
			</thead>
			<tbody>
				{% for user in usuario %}
					<tr>
						<th>{{forloop.counter}}</th>
						<th>{{user.usuario.username}}</th>
						<th>{{user.usuario.first_name}} {{user.usuario.last_name}}</th>
						<th>{{user.usuario.email}}</th>
						<th>{{user.fecha_creacion }}</th>
						<th>{{user.fecha_modificacion }}</th>

						<th>{% if user.usuario.is_staff %}SI {% else %} NO {% endif %}</th>
						<th>{{user.CANTIDAD_PARTIDAS_JUGADAS}}</th>
						{% comment %} <th>{{user.CANTIDAD_PREGUNTAS_RESPONDIDAS_CORRECTAMENTE}}</th> {% endcomment %}

						<th>{% if user.puntajeTotal is None %}0{%else%} {{user.puntajeTotal}}{% endif %}</th>
					</tr>
					{% endfor %}
				</tbody>
			</table>
			
	
</div>
{% else %}
<div class="container">
	<h1 class="text-center my-4"> 
		<span class="">
			{% if contar_user < 1 %} Ningún Jugador hizo el cuestionario {% else %}<p>Tienes que terminar la partida para ver la tabla de posiciones</p>{% endif %}
		</span>
	</h1>
	
{% endif %}
	
	{% endblock %}

